body{
	/*background-color:#F6F7EB;*/
	background-color:white;
	/*font-family:Arial,Consolas;*/
	font-family:Century Gothic;
	font-size:18px;
	line-height:1.4;
	margin:0;
	padding:0;
}

.container
{
	width:80%;
	margin:auto;
	box-sizing: border-box;
}

header{
	top:0;
	position:fixed;
    width:100%;
	/*background:#6BBB94;*/
	background: #A0A199;
	background: -moz-linear-gradient(top, #A0A199 0%, #193652 100%);
	background: -webkit-linear-gradient(top, #A0A199 0%, #193652 100%);
	background: linear-gradient(to bottom, #A0A199 0%, #193652 100%);
	color:white;
	padding: 40px 0 45px 0;
	min-height:100px;
	border-top:2px black solid;
	border-bottom:2px black solid;
}

header a{
	color:white;
	font-size:20px;
	text-decoration:none;
	font-weight: bold;
}

header ul{
	margin:30px;
	padding:0px;
	padding-right:160px;
}


header li{
	float:right;
	display:inline;
	padding:0px 5px 0 5px;
	max-height:20px;
	
}

header a:hover{
	/*color:#F0B70B;*/
	color:#F0D60B;
}

header h1{
	font-size:50px;
	font-weight:normal;
	margin-left:0px;
}

section{
	padding-top:240px;
}

#textsear{
	margin:0px;
	
}


section select{
	width:450px;
	font-size:16px;

}

section h2{
	margin-top:0px;
	padding-top:20px;
	padding-left:20px;
}

section embed{
	width:100%;
	height:470px;
	background-color:#A4B7C9;
	margin-bottom:0px;
}

pre{
	font-size:16px;
}

#selection{
	width:100%;
	background-color:#44525E;
	color:white;

}


#divlink{
	background-color:#44525E;
	width:100%;
	padding-top:20px;
	padding-bottom:60px;
}

#divlink a{
	text-decoration:none;
	font-size:16px;
	padding-left:20px;
}



#foot{
	font-size:15px;
	
}

footer{	
	bottom: 0;
	position:fixed;
	width:100%;	
	background:#42607D;
	color:white;	
	border-top:2px black solid;
	border-bottom:2px black solid;

}